<div class="col-md-6">
    <div class="panel panel-primary ajax-requests">
        <div class="panel-heading">Click the links below to see it profile ajax requests</div>
        <div class="panel-body">
            <ul>
            </ul>
        </div>
    </div>
    <div class="panel panel-primary">
        <div class="panel-heading">You can also...</div>
        <div class="panel-body">
            <ul>
                <li><a href="@Url.Content("~/services/internaldam/profiler/results-index")">Show all profiling sessions</a></li>
            </ul>
        </div>
    </div>
</div>